In [1]:
import pandas as pd

In [3]:
pd.read_csv("../actual_hps.csv", index_col = 0)

      country        adr  hp_entry  actual_entry  hp_exit  actual_exit
0   Australia    PLL_PLL       1.0      0.954487      0.5    -0.088648
1   Australia   MESO_MSB       1.0      1.137546     -0.5    -0.265110
2   Australia   GENE_GTG       1.0      1.208165     -0.5    -0.572073
3   Australia    WBK_WBC       1.5      0.486830      0.5    -0.048677
4   Australia   KZIA_KZA       1.0      0.977874     -0.5    -0.215882
5   Australia   IMMP_IMM       1.5      0.956242      0.5     0.152399
6   Australia   IMRN_IMC       1.0      1.176187      0.0    -0.216469
7   Australia   ATHE_ATH       1.0      1.030096     -0.5    -0.421869
8   Australia    JHX_JHX       1.0      0.404285      0.5    -0.012547
9       Japan  SONY_6758       2.0      0.108563      0.5    -0.043656
10      Japan   TAK_4502       1.0      0.209915      0.5     0.045332
11      Japan    TM_7203       1.5      0.452382      0.5     0.072417
12      Japan  SMFG_8316       1.5      0.400204     -0.5    -0.191883
13      China  BGNE_6160       1.0      0.490763      0.5    -0.115258
14      China    SNP_386       1.0      0.279722      0.0    -0.140758

Enter at the MINIMUM of hp_entry and actual_entry

Exit at the MAX of hp_exit and actual_exit